<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="https://unpkg.com/@popperjs/core@2">#}
    <link href={{ url_for('static', filename = 'css/style.css') }} rel="stylesheet">
    {% block style_links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background: darkslategray">
    <div class="container">
        <a class="navbar-brand">My app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('owner.start') }}">All Owners <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('owner.owner_register') }}">Owner Registration <span
                            class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('owner.search_result') }}">
                    <input
                            class="form-control mr-sm-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                            name="search"
                            value="{{ request.args.get('search','') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </div>
</nav>

{% block content_title %}
{% endblock %}

<main role="main" class="container">
    {% block body %}
    {% endblock %}
</main>

</body>
</html>